
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site FTT</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="img/png" href="icone.png">
</head>
<header>
        <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary navigationbar p-3" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">FTT</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#">Início</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#sobre">Sobre</a>
                  </li>
                  <li class="nav-item dropdown dropdown-center">
                    <a class="nav-link dropdown-toggle text-white" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Portfólio
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item text-white" href="#">Little Snake</a></li>
                      <li><a class="dropdown-item text-white" href="#">Portfólio Pessoal Matheus</a></li>
                      <li><a class="dropdown-item text-white" href="#">Portfólio Pessoal Babidi</a></li>
                      <li><a class="dropdown-item text-white" href="#">Pokedex</a></li>
                      <li><a class="dropdown-item text-white" href="#">Pokedex</a></li>
                      <li><a class="dropdown-item text-white" href="#">Yoshi Jump</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#projetos">Projetos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#contato">Contato</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
</header>
<body>
    <section id="inicio" class="row m-1 p-1">
        <div >
            <h2 class="text-black text-shadow">Fábrica de Tecnologias Turing</h2>
            <span id="subtitle" class="text-black text-shadow">Projeto da UniEvangélica voltado para o desenvolvimento de softwares.</span>
            
        </div>
        <img class="" id='logoftt'src="../static/imgs/technology.png">
    </section>
    <script src="../static/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>